<div class="cafe-list-container">
  <table>
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Tamaño</th>
        <th>Precio</th>
        <th>Comprar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cafe of cafes" [ngClass]="{ clearance: cafe.clearance }">
        <td><img [src]="cafe.image" /></td>
        <td>{{ cafe.name }}</td>
        <td>{{ cafe.type }}</td>
        <td>{{ cafe.size }}</td>
        <td *ngIf="cafe.stock > 0; else sinstock">
          {{ cafe.price | currency }}
        </td>
        <ng-template #sinstock
          ><td><span>Sin Stock</span></td></ng-template
        >
        <td>
          <app-input-number [(quantity)]="cafe.quantity" [max]="cafe.stock">
          </app-input-number>
          <button class="btn_add_cart" (click)="addToCart(cafe)">
            Agregar al carrito
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
