<div class="about-container">
  <h2>Somos Cafe_Mate</h2>

  <img src="img/Tostador_1.jpg" alt="" />

  <p>
    En Cafe_Mate, nos apasiona el mundo del café. Nuestra misión es ofrecerte
    una experiencia única, seleccionando cuidadosamente granos de las mejores
    regiones cafeteras del mundo. Creemos que cada taza de café cuenta una
    historia, y queremos compartir esas historias contigo, desde el cultivo en
    las tierras lejanas hasta el aroma que llena tu hogar.
  </p>

  <img src="img/Tostador_2.jpg" alt="" />

  <p>
    Nos dedicamos a brindar productos de alta calidad y un servicio excepcional.
    Valoramos la autenticidad y la frescura, asegurándonos de que cada café que
    elijas sea una delicia para tus sentidos. Gracias por formar parte de
    nuestra comunidad de amantes del café.
  </p>
</div>
